.o-badge {
  --badge-text-size: 12px;
  --badge-text-height: 18px;

  --badge-radius: 40px;

  --badge-padding: 2px;

  --badge-min-width: 12px;

  --badge-dot-size: 4px;
  --badge-height: 12px;

  --badge-color: var(--e-color-white);
  --badge-bg-color: var(--e-color-red3);
}
