.el-date-editor {
    --el-input-focus-border: none;
    --el-input-hover-border: none;
    --el-input-hover-border-color: none;
    --el-input-focus-border-color: none;

    &.el-input__wrapper {
        border-radius: 0;
        padding: 1px 8px;
        height: 48px;
        box-shadow: var(--e-shadow-l1);
        background-color: var(--e-color-bg2);

        &:hover {
            box-shadow: var(--e-shadow-l1);
        }
    }

    .el-range-input {
        color: var(--e-color-text1);
    }

    .el-range__icon {
        color: var(--e-color-text4);
        font-size: var(--e-font-size-h5);

        svg {
            width: 1rem;
            height: 1rem;
            color: currentColor;
            vertical-align: top;
        }
    }


}

.el-picker-panel {
    background-color: var(--e-color-bg2);
    color: var(--e-color-text1);
    border-radius: 0;

    &.el-date-range-picker {
        --el-datepicker-header-text-color: var(--e-color-text1);
        --el-datepicker-hover-text-color: var(--e-color-brand2);
        --el-datepicker-active-color: var(--e-color-brand1);

        svg {
            color: var(--e-color-text1);
        }

        .el-date-table td.in-range .el-date-table-cell {
            background-color: var(--e-color-bg3);
        }
    }

}

.el-popper {
    --el-popper-border-radius: 0;
}