.el-scrollbar {
  background-color: var(--o-color-fill2);
  padding: 8px 6px;

  .select-text {
    color: var(--e-color-text4);
    padding: 0 20px;
  }

  .suffix-icon {
    color: var(--e-color-brand1);
  }

  .el-select-dropdown__list {
    margin: 0;
    padding: 0;
  }

  li {
    border-radius: var(--o-radius-xs);

    & + li {
      margin-top: 2px;
    }

    &.el-select-dropdown__item {
      padding: 6px 12px;
      color: var(--o-color-info1);
      @include tip2;

      &.is-selected {
        font-weight: 500;
        color: var(--o-color-primary1);
        background-color: var(--o-color-control3-light);
      }
    }
  }
}

.el-vl__wrapper {
  background-color: var(--o-color-fill2);
  padding: 8px 6px;

  .el-select-dropdown__list {
    margin: 0;
    padding: 0;
    width: 100% !important;
  }

  li {
    border-radius: var(--o-radius-xs);

    & + li {
      margin-top: 3px;
    }

    &.el-select-dropdown__item {
      padding: 6px 12px;
      color: var(--o-color-info1);
      @include tip2;

      &.is-selected {
        font-weight: 500;
        color: var(--o-color-primary1);
        background-color: var(--o-color-control3-light);
      }
    }
  }
}

.el-popper.is-light {
  border: 1px solid var(--e-color-border2);
}

.el-select-dropdown__item.is-hovering {
  color: var(--o-color-info2);
  background-color: var(--o-color-control2-light);
}

.popper-select {
  width: 208px;
}

.popper-dropdown {
  width: 230px;
}
